<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2158afa4d9.js" crossorigin="anonymous"></script>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../public/css/perfil.css">
    <link rel="stylesheet" href="../public/css/feed.css">
    <link rel="shortcut icon" href="#">
    <title>SocialUGR - <%= perfil.name %> <%= perfil.lastName %></title>
</head>
<body>
    <div class="contenedor">
        <%- include('layouts/header'); %>
        <div id="fantasma">
            No debe verse
        </div>
        <div id="portada">
            <img src="../imgs/<%= perfil.landscape %>" alt="imagen de portada">
        </div>
    
        <div id="imagenPerfil">
            <img src="../imgs/<%= perfil.image %>" width="200px" alt="Avatar">
        </div>
        <div id="fantasma">
            No debe verse
        </div>
        <div id="infoFollows">
            <div class="row justify-content-between">
                <div class="col-md-5">
                    <div class="text-center">
                        Followers<br>
                        <span id="numFollowers"><%= perfil.followers %></span>
                    </div>
                    
                </div>
                <div class="col-md-5">
                    <div class="text-center">
                        Following<br>
                        <span id="numFollowers"><%= perfil.following %></span>
                    </div>
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-center">
                <div id="follow">
                    <form action="/follow/<%= user.username %>/<%= perfil.username %>" method="get">
                        <button type="submit" class="btn btn-success btn-sm" onclick="toggleFollow(this)" value="submit">Follow</button>
                    </form>
                </div>
                <div id="unfollow">
                    <form action="/unfollow/<%= user.username %>/<%= perfil.username %>" method="get">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="toggleFollow(this)">Unfollow</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="info2">
            <span id="bios">BIOS <span class="far fa-comment-alt"></span>
            <div class="float-right d-inline-block">
               <a href="#"><i class="far fa-edit ml-n1"></i></a>
            </div>
            <br><%= perfil.bios %></span>
        </div>
        <div id="bodyPerfil">
            <% posts.forEach(function(post){ %>
                <%- include('partials/post', {post:post}); %>
            <% }); %>
        </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="../public/scripts/script.js"></script>
    <!-- Scripts BOOTSTRAP 4-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>